{% extends 'base.html' %}

{% block content %}
<div class="container container__task-editor">
    <br>
    <h2 class="h2-task">CREA TASK</h2>
    
    <div class="row no-gutters">
        <div class="col">
            <!-- form -->
            <form action="#" method="POST" novalidate class="hw-form">
                <!-- csrf_token -->
                {{ form.hidden_tag() }}
                <!-- title -->
                <div class="form-group">
                    <!-- {{ form.title.label }} --->
                    {{ form.title(class="form-control form-control-title", placeholder="Aggiungi titolo task...") }}
                </div>

                <!-- description -->
                <div class="form-group">
                    <!-- {{ form.description.label }} --->
                    {{ form.description(class="form-control", placeholder="Aggiungi descrizione task...") }}
                </div>

                <div class="form_button">
                    <!-- submit -->
                    {{ form.submit(class="btn btn-sm btn-dark") }}
                    <a class="row-back" href="{{ url_for('homepage') }}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}