@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');

/** Container **/
.btn-container {
    text-align: center;
    padding: 1rem;
}

/** Date **/
.date {
    text-align: center;
    font-style: italic;
    font-size: 1.0rem;
    border-bottom: .1rem solid silver;
    padding: 1rem 0!important;
    max-width: 90%;
    margin: 0 auto;
}

/** Presentation **/
.presentation {
    display: block;
    text-align: center;
    font-size: 2.2rem;
    color: #000;
    margin: 10% 0; 
}

/** Navbar **/

.h2-task {
    font-size: 1.4rem;
}

.navbar-brand, .h2-task {
    font-family: 'Corben', cursive !important;
}

/** Bottoni **/
.btn-success {
    margin-right: 1rem!important;
    color: rgb(255, 255, 255)!important;
}

.btn-success:hover {
    color: #218838 !important;
    background-color: #fff!important;
    cursor: pointer;
}

.btn-danger {
    margin-right: 1rem!important;
    color: rgb(255, 255, 255)!important;
}

.btn-danger:hover {
    color: #c82333 !important;
    background-color: #fff!important;
    cursor: pointer;
}

.mybtn {
    font-size: 1.8rem!important;
    border-radius: 50%!important;
}

/** Link **/
a {
    color: rgb(0, 0, 0)!important;
}

a:hover {
    color: white!important;
}

.link-bold {
    font-weight: bold!important;
}

.link-in:hover {
    color: #218838 !important;
}

.link-out:hover {
    color: #c82333 !important;
}

/** Modificatori **/
.color--yellow {
    background-color: #eeae00!important;
    color: #fff!important;
}

.container-p5 {
    margin-top: 6rem!important;
}

.single-task-home {
    background-color: white;
    border: 1px solid silver;
    border-radius: 1rem;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px;
    transition: all ease-in;
}

.single-task-home:hover {
    cursor: pointer;
    box-shadow: 2px 2px green;
}

.my-footer {
    background-color: silver;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container__task-editor, .container-login {
    max-width: 90%;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 5px 6px #131414;
    border-radius: 0.2rem;
}

/** Form **/
.form-control-title {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
}

.hw-form {
    text-align: center;
}

.form_button {
    display: flex;
    justify-content: space-between;
}

.row-back {
    font-size: 2rem;
}